/* ******************header*********************** */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
body{
    font-family: "Roboto", sans-serif;
    background-color: rgb(238, 238, 238);
}

header{
    /* background-color: lightcoral; */
    height:5rem;
}
.titlebar{
    height:50%;
    /* outline: 2px solid blue; */
    display: flex;
    align-items: center;
    gap: 0.2rem;
}
.title-img{
    /* 2.5rem->60% */
    height:60%;
    margin-left:1rem
}
.title{
    font-size: 1rem;;
}
.menu-bar{
    display: flex;
    gap:1rem;
    margin-left: 1rem;
    align-items: center;
    /* outline: 2px solid black; */
    height:50%;
}
.menu{
    position: relative;
}
.menu:hover {
    background-color: lightblue;
    
}
.speedUp:hover{
    background-color: lightgray;
}
.speedDown:hover{
    background-color: lightgray;
}
.volumeUp:hover{
    background-color: lightgray;
}
.volumeDown:hover{
    background-color: lightgray;
}
.menu-items{
    background-color: rgb(238, 238, 238);
    position: absolute;
    top: 3px;
    width: 9rem;
    display: none;
}
.menu:hover .menu-items{
    display: block;
}

.videoinput{
    display: none;
}
li{
    padding: 0.25rem;
}
/* ****************main****************** */
main{
        background-color: black;
        height: calc(100vh - 8rem);
        display: flex;
        justify-content: center;
        align-items: center;
}
.toast{
    color: white;
    font-size: 2rem;
    position: fixed;
    top: 99px;
    right: 47px;
    display: none;

}
.video{
    height: 100%;
}



/* *****************footer********************* */
footer{
    height:3rem;
    /* padding-top: 0.5rem; */
    /* padding-bottom: 1rem; */
    /* background-color: grey; */
}
.current-time,.total-time{
    width: 5%;
    min-width: 44px;
}
.time-container{
    display: flex;
    gap: 0.5rem;
}
.time-container>* {
    /* outline: 1px solid red; */
    text-align: center;
}
.time-slider{
    width: 93%;
}
.slider{
    width: 100%;
    /* opacity: 0.7; */
}
.menu-btns{
    display: flex;
    gap: 0.5rem;
    /* margin-left: 1rem; */
    /* margin-top: 0.5rem; */
    padding: 0.25rem;
    cursor: pointer;
}
.rest-options{
    display: flex;
    gap: 0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: rgb(221, 218, 218);
    border: 1px solid rgb(126, 124, 124);
    height: 18px;
    width: 18px;
}
.btn:hover {
    border: 1px solid rgb(7, 93, 133);
    background-color: rgb(221, 244, 250);
}
i {
    color: rgba(82, 82, 82, 0.843);
    font-size: 14px;
}
/* @media (max-width: 1000px) {
    .time-slider {
        width: 75%;
    }

    .time-container {
        justify-content: space-evenly;
    }

   
} */